package paginas

import "github.com/jmrflora/blogx/views/layout"
import "github.com/jmrflora/blogx/views/partials"

templ PaginaUpload() {
    @layout.Base("upload"){
        @partials.Uploadartigo()
    }
}