package paginas

import "github.com/jmrflora/blogx/views/layout"
import "github.com/jmrflora/blogx/views/partials"
import "github.com/jmrflora/blogx/modelos"

templ PaginaUpload(id int, categs []modelos.Categoria) {
    @layout.Base("upload"){
        @layout.Nav(){
            @layout.FimNavDivLogado()
        }
        @partials.Uploadartigo(id, categs)
    }
}