package paginas

import "github.com/jmrflora/blogx/views/layout"


templ Index() {
    @layout.Base("bem vindo"){
        @layout.Nav(){
            @layout.FimNavDiv()
        }
    }
}

templ IndexLogado() {
    @layout.Base("bem vindo"){
        @layout.Nav(){
            @layout.FimNavDivLogado()
        }
    }
}