package paginas

import "github.com/jmrflora/blogx/views/layout"
import "github.com/jmrflora/blogx/views/partials"

templ Index() {
    @layout.Base("bem vindo"){
        @partials.Ola()
    }
}

templ IndexLogado() {
    @layout.Base("bem vindo"){
        <div>logado!!!</div>
    }
}