package paginas

import "github.com/jmrflora/blogx/views/layout"


templ Index() {
    @layout.BaseNaoLogado(templ.NopComponent){
    }
}

templ IndexLogado() {
    @layout.BaseLogado(templ.NopComponent){
    }
}